.card {
    width: 340px;
    height: 340px;
    color: white;
   // box-shadow: inset 0px -92px 130px -45px black;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    &__cover{
        content-visibility: hidden;
    }
    &__title {
        font-size: 18px;
        font-weight: 500;
    }
}