.card {
    width: 340px;
    height: 340px;
    color: white;
    font-size: 18px;
    background: $main-color;
    border-radius: 10px;
    padding-top: 268px;
    padding-right: 220px;
    padding-left: 20px;
    padding-bottom: 20px;
}