.card {
    width: 340px;
    height: 340px;
    box-shadow: inset 0px -92px 130px -45px black;
    background-size: cover;
    justify-content: flex-end;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    &__cover{
        content-visibility: hidden;
    }
    &__title {
        font-size: 18px;
        font-weight: 500;
    }
}