.collapse {
    background-color: $second-color;
    border-radius: 10px;
    .collapse-up {
        height: 52px;
        background-color: $main-color;
        border-radius: 10px;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 15px;
        h2 {
            font-size: 24px;
            font-weight: 500;
        }
        &__button {
            background-color: $main-color;
            border: none;
        }
    }
    .collapse-down {
        color: $main-color;
        font-size: 18px;
        font-weight: 400;
        padding: 16px 20px 20px 20px;
        margin: 0;
    }
}
.collapse-up__button :active {
        animation: rotate-button 150ms linear reverse;
}