.collapse {
    width: 1023px; 
    background-color: $second-color;
    border-radius: 10px;
    margin:auto;
    .collapse-up {
        height: 52px;
        background-color: $main-color;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px 10px 15px;
        h2 {
            font-size: 24px;
            font-weight: 500;
        }
        &__button {
            background-color: $main-color;
            border: none;
            display: flex;
            align-items: center;
            //transition: all;
            :active {
                animation: rotate-button 150ms linear forwards reverse;
            }
        }
    }
    .collapse-down {
        color: $main-color;
        font-size: 18px;
        font-weight: 400;
        padding: 16px 20px 20px 20px;
        margin: 0;
    }
}