.about {
    .banner {
        margin-top: 26px;
    }
    .banner img {
        @include mobile {
            width: 100%;
        }
    }
    .collapse-list { 
        width: 79.7%;
        gap: 30px;
        margin: auto; 
        @include mobile {
            width: 100%;
            gap: 20px;
        }
    }
}
