.page.home {
    .banner img {
        @include mobile {
            width: 100%;
        }
    }
    .ad-list-container {
        border-radius: 25px;
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr;
        column-gap: 5.2%;
        row-gap: 50px;
        padding: 43px 4.38% 28px 4.38%;
        margin-bottom: 12px;
        @include mobile {
            background-color: white;
            grid-template-columns: 1fr;
            row-gap: 20px;
            padding: 0;
            margin: 0;
        }
    }
    @include mobile {
        gap: 22px;
    }
}