.erreur404 {    
    align-items: center;
    padding-top: 101px;
    padding-bottom: 101px;
    &__section {
        align-items: center;
        gap: 139px;
        h2, p {
            color: $main-color;
            margin: 0;
        }
        a {
            font-size: 18px;
            text-decoration: underline;
        }   
    }
}