.card--logement, .card__text {
    color: $main-color;
    margin: 0;
}

.logement {
    .logement-section {
        margin-top: 50px;
        .logement-item {
            gap: 24px;
            .carousel {
                height: 415px;
                position: relative;
                .carousel-pictures{ 
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    border-radius: 25px;
                    object-fit: cover;
                }
                .carousel-pictures__hidden {
                    display: none;
                }
                .arrow{
                    position: absolute;
                }
                .arrow-left {
                    left: 23px;
                    top: 160px;
                }
                .arrow-right {
                    right: 23px;
                    top: 160px;
                }
                .indicator {
                    font-size: 18px;
                    color: white;
                    position: absolute;
                    bottom: 25px;
                    left: 607px;
                }
            }
            .informations {
                flex-direction: row;
                &__logement {
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .card--logement {
                        height: 150px;
                        box-shadow: none;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0;
                        .card__title {
                            color: $main-color;
                            font-size: 36px;
                        }
                        .card__text {
                            font-size: 18px;
                        }
                    }
                    .tags {
                        width: 100%;
                        flex-direction: row;
                        justify-content: flex-start;
                        gap: 10px;
                        margin: 0;
                        .tags-item {
                            width: 115px;
                            height: 25px;
                            font-size: 14px;
                            color: white;
                            background-color: $main-color;
                            border-radius: 10px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                &__host {
                    width: 50%;
                    .host {
                        color: $main-color;
                        background-size: cover;
                        flex-direction: row-reverse;
                        align-items: center;
                        .host-picture {
                            width: 64px;
                            border-radius: 100px;
                        }
                    }
                }
                &__description {
                    flex-direction: row;
                    gap: 76px;
                    .collapse {
                        width: 582px;
                    }
                }
            }            
        }
    }
}
.divStars{
    width: 100%;
    background-color: black;

}
//.stars {
 //   width: 196px;
//    height: 36px;
//}