.card--logement, .card__text {
    color: $main-color;
    margin: 0;
}

.logement {
    .logement-section {
        margin-top: 50px;
        .logement-item {
            gap: 24px;
            .informations {
                display: flex;
                justify-content: space-between;
                &__logement {
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    .card--logement {
                        height: 150px;
                        box-shadow: none;
                        flex-direction: column;
                        align-items: flex-start;
                        padding: 0;
                        .card__title {
                            color: $main-color;
                            font-size: 36px;
                        }
                        .card__text {
                            font-size: 18px;
                        }
                    }
                    .tags {
                        display: flex;
                        gap: 10px;
                        .tags-item {
                            background-color: $main-color;
                            border-radius: 10px;
                        }
                    }
                }
                &__host {
                    .host {
                        color: green;
                        background-size: cover;
                        .host-picture {
                            content-visibility: hidden;
                        }
                    }
                }
            }
            .carousel {
                height: 415px;
                position: relative;
                .carousel-pictures{ 
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    border-radius: 25px;
                    object-fit: cover;
                }
                .carousel-pictures__hidden {
                    display: none;
                }
                .arrow{
                    position: absolute;
                }
                .arrow-left {
                    left: 23px;
                    top: 160px;
                }
                .arrow-right {
                    right: 23px;
                    top: 160px;
                }
                .indicator {
                    font-size: 18px;
                    color: white;
                    position: absolute;
                    bottom: 25px;
                    left: 607px;
                }
            }
        }
        .collapse {
            width: 582px;
        }
    }
}