@mixin mixin-banner {
    width: 1240px;
    height:223px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    margin: 10px 100px;
    overflow: hidden;
}