.ad-list-container {
    width: 1240px;
    background-color: $second-color;
    border-radius: 25px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 60px;
    row-gap: 50px;
    padding: 43px 50px 28px 50px;
}