.banner {
    height:223px;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
    background-color: black;
    margin: 12px auto 5px;
    h1 {
        position: absolute;
        z-index: 1;
    }
    img {
        filter: brightness(0.7);
    }
}