.header {
    flex: 1 68px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 45px;
    .nav{
        margin: 0;
        a{
            margin-left: 50px;
        }
        a.active {
            text-decoration: underline;
        }
    }   
}