* { 
    box-sizing: border-box;   
}
#root {
    margin: 0;
}
body, header, footer, main, .page, .erreur404, .erreur404__section,
.banner, .collapse-list, .collapse-up, .collapse-up__button {
    display: flex;
    flex-direction: column; 
} 
body, header, main {
    margin: auto;
}
body {
    max-width: 1440px;
    background-color: white;
    justify-content: center;
    margin: auto;
    .page {
        gap: 38px;
        margin-top: 45px;
    }
    header, main {
        width: 1240px;
    }
    main {
        flex: 2 100vh;
    }
}
ul {
    list-style-type: none;
    padding-inline-start: 0;
}
img {
    object-fit: contain;
}
button {
    color: black;
    background-color: blue;
}