* { 
    box-sizing: border-box;   
}
#root {
    margin: 0;
}
body, header, footer, main, .page, .erreur404, .erreur404__section,
.banner, .collapse-list, .collapse-group,.collapse-group__down, .collapse__button,
.logement-item, .informations, .informations__logement, .informations__host, .host,
.informations__description, .tags {
    display: flex;
    flex-direction: column; 
} 
body, header, main {
    margin: auto;
}
body {
    max-width: 1440px;
    background-color: white;
    justify-content: center;
    margin: auto;
    .page {
        gap: 38px;
    }
    header, main {
        width: 1240px;
    }
    main {
        flex: 2 100vh;
    }
}
ul, li {
    list-style-type: none;
    padding-inline-start: 0;
}
img {
    object-fit: contain;
}