* { 
    box-sizing: border-box;   
}
#root, .collapse-group__title, .nav, .tags {
    margin: 0;
}
body, header, main {
    margin: auto;
} 
.tags-item, .collapse-group, .collapse-button {
    background-color: $main-color;
}
.ad-list-container, .collapse {
    background-color: $second-color;
}
body {
    max-width: 1440px;
    background-color: white;
    .page {
        gap: 38px;
    }
    header, main {
        width: 1240px;
    }
    main {
        flex: 2 100vh;
    }
}
ul, li {
    list-style-type: none;
    padding-inline-start: 0;
}
img {
    object-fit: contain;
}

body, header, footer, main, .page, .erreur404, .erreur404__section, .card,
.banner, .collapse-list, .collapse-group, .carousel-pictures,.logement-item, 
.informations, .informations__logement, .informations__host, .host,
.informations__description, .tags, .tags-item, .divStars {
    display: flex;
    flex-direction: column; 
}
.informations {
    flex-direction: row;
}
body {
    justify-content: center;
}