*{
    line-height: 142%;
    @include mobile {
        line-height: normal; 
    }
}
body, h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
h1, h2, p, .indicator, .tags-item {
    color: white;
    margin: 0;
}
a, .host, .collapse-group__button, .collapse-description__text, .collapse-description__list,
 .erreur404__section h2, .erreur404__section p
  {
    color: $main-color;
    margin: 0;
}
h1 {    
    font-size: 3rem;
    letter-spacing: 0.625rem;
    @include mobile {
        font-size: 1.5rem;     
        letter-spacing: normal; 
    }
}
h2 {
    font-size: 11.56rem;
    font-weight: 700;
}
p {
    font-size: 2.25rem;
}
.collapse-group__title, a, footer p {
    font-size: 1.5rem;
    @include mobile {
        font-size: 0.75rem;  
    }
}
.indicator, .collapse-description__text, .collapse-description__list, 
.erreur404__section a, .host-figcaption {
    font-size: 1.125rem;
}
a{
    text-decoration: none;
}